.nav-bar {
	position: fixed;
	top: 0px;
	text-align: center;
}

nav ul {
	text-align: center;
}

nav ul li {
	list-style-type: none;
	border: 1px solid #ffc107;
	background-color: black;
	opacity: 0.75;
}

nav ul li:hover {
	opacity: 0.9;
}

nav ul li a {
	font-size: 1.5em;
}

nav ul li a:hover {
	text-decoration: none;
}

header {
	height: 150px;
	background-color: goldenrod;
	text-align: center;
}

header h1 {
	transform: translateY(90px);
}

footer {
	text-align: center;
	background-color: #1a1a1a;
	height: 100px;
	padding-top: 10px;
}

footer ul {
	text-align: center;
}

footer ul li {
	display: inline;
	list-style-type: none;
}

footer ul li a {
	margin: 10px;
}

footer p {
	color: white;
	font-size: 14px;
}

